@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


.empty-message{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 100px;
}

.container{
    width: 325px;
    position: absolute;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    right: 87px;
    top: 39px;
    justify-content: center;
    z-index: 1;
}

.cart-title{
    margin-left: 16px;
    margin-top: 9px;
    font-size: 16px;
    font-weight: normal;
    line-height: 160%;
    color: #1D1F22;
}

.product-container{
    display: flex;
    margin-left: 16px;
    margin-bottom: 19px;
}
.info{
    display: flex;
    flex-direction: column;
    
    .title{
        margin-top: 26px;
        width: 108px;
        line-height: 160%;
    }

    .price{
        margin-top: 11px;
    }

    .attr-name{
        margin-top: 20px;
    }

    .items{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 9px 0;
        margin-top: 29px;

        
        .item{
            margin-right: 9px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            font-size: 11px;
            border: 1px solid #1D1F22;
            cursor: pointer;
        }
    }
}

.amount-image{
    display: flex;
    margin-left: 21px;

    .amount{
        width: 24px;

        .box{
            cursor: pointer;
            margin-top: 23px;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px black solid;
            font-size: 32px;
            background: none;
            font-weight: normal;
        }

        .box:last-child{
            margin-top: 2px;
        }

        .item-amount{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 87px;
            margin-left: 1px;
        }
    }

    .image{
        margin-left: 9px;

        img{
            width: 105px;
            height: 137px;
        }
    }
}

.total{
    font-family: Roboto;
    display: grid;
    width: 100%;
    margin-top: 15px;
    margin-left: 18px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 130px;

    .total-amount{
        margin-top: -4px;
    }
}

.buttons{
    padding-right: 19px;
    margin-top: 53px;
    margin-left: 13px;
    padding-bottom: 34px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    a.bag{
        border: 1px solid black;
        padding: 13px 36px;
        font-size: 14px;
        margin-right: 2px;
        text-decoration: none;
    }

    button.check-out{
        padding: 13px 29.5px;
        font-size: 14px;
        margin-left: 9px;
        border: none;
        background: #5ECE7B;
        color: white;
    }
}


