.action-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 204px;
    height: 40px;
    right: 101px;
    top: 23px;
}

.icon-container{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    top: calc(50% - 20px/2);
}

.product-count{
    position: absolute;
    left: 69.7%;
    top: -53%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 20px;
    color: #FFFFFF;
    justify-content: center;
    background: black;
    height: 20px;
    border-radius: 100%;
}

.empty-cart{
    position: absolute;
    left: -4%;
    bottom: 20%;
}

.spacer{
    position: static;
    width: 40px;
    height: 40px;
}

.currency-container{
    position: absolute;
    width: 38px;
    height: 29px;
    left: 62%;
    top: 4.5px;

    .currency-symbol{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding: 0px 10px;

        position: absolute;
        width: 32px;
        height: 29px;
        left: -3px;
        top: -3px;

        span{
            position: static;
            font-weight: 500;
            font-size: 19px;
            line-height: 160%;
            color: #1D1F22;
        }
    }

    .vector{
        position: absolute;
        left: 76%;
        right: 20.59%;
        top: 42%;
        bottom: 38.75%;
    }
}