.app{
    position: relative;
    width: 100%;
    height: 100%;
}

.title{
    position: relative;
    height: 68px;
    left: 102px;
    top: 120.5px;
    letter-spacing: -0.3px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 160%;

    display: flex;
    align-items: center;
    
    color: #1D1F22;
}

.footer{
    width: 100%;
    height: 100px;
}

.app-disabled{
    background-color: rgba(57, 55, 72, 0.22);
}

.backdrop{
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 2;
    background: transparent;
}